name: Markdown link check

# runs every monday at 9 am
on:
  push:
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"
  schedule:
    - cron: '0 9 * * 1'

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
